CSS for Mobile
 
.bottomPanel, .slideshow-container, .close-panel, .speedometer-icon, .mobile-header {
	display: none;
}

@media (max-width: 800px) {

	.mobile-header {
		display: inline-block;
		position: fixed;
		top: 0;
		width: 100%;
		height: 6vh;
		color: #fff;
		background-color: #3A4450;
		font-size: 6vw;
		text-align: center;
		/* filter:alpha(opacity=50);
		opacity: 0.5; */
	}

	.leftPanel {
		display: inline-block;
		position: absolute;
		top: 37%;
		left: 12%;
		z-index: 5;
		background-color: #465362;
		border: 1px solid #465362;
		width: 75%;
		height: 20%;
	}

	.hide-panel {
		display: none;
	}

	.bar {
		display: none;
	}

	div .bottom-bar {
		position: absolute;
		top: 3%;
		left: 44%;
		height: 2vh;
		width: 15vw;
		background: #44CBCE;
		float: left;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 1;
	}

	.bottom-bar a {
		height: 100%;
		position: relative;
		width: 100%;
		display: block;
	}
	div .bottom-bar img {
		float: left;
		top: 50%;
    	left: 35%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		position: relative;
		margin-right: 4px;
	}

	#input-panel {
		position: absolute;
		right: 2%;
		top: 15%;
		cursor: pointer;
	}
	.primary-button:hover {
		background-image: linear-gradient(-90deg, #00AAAC 9%, rgba(0,219,221,1.00) 97%);
		color: #F2F2F2;
	}
	.primary-button-replay {
		background-image: linear-gradient(-90deg, rgba(0,219,221,1.00) 9%, #00AAAC 97% );
		color: #F2F2F2;
		border-radius: 7px;
	}
	.leftPanel div.header {
		font-size: 3vw;
	}
	
	.leftPanel div.header img {
		width: 4vw;
		margin-top: -5px;
	}
	
	#centerwindow {
		display: none;
	}
		
	.leftPanel div.destinations {
		border-bottom: none;
	}
	


	.leftPanel div.destinations .pin {
		margin-top: 0.8vh;
	}
	
	.leftPanel div.destinations .pin img {
		width: 2.4vw;
	}

	.leftPanel div.destinations .reverse {
		padding-top: 1vh;
		padding-left: 1.5vw;
	}
	.leftPanel div.destinations .reverse img {
		width: 3vw;
	}
	.leftPanel div.destinations .input-container {
		width: 55vw;
	}

	.input-container .input input {
		font-size: 4vw;
		width: 70%;
	}
	
	.input-container .input span.km {
		font-size: 3.95vw;
	}
	.input-container .input span.km {
		right: -2vw;
	}

	.btn {
		margin-top: 2vh;
		padding: 2vw 3vw;
		font-size: 3vw;
	}
	
	.leftPanel .transport-container {
		display: none;
	}

	.leftPanel .social {
		display: none;
	}

	.close-panel {
		display: inline-block;
	}

	.menu {
		display: none;
	}

	#bar1, #bar2, #bar3, #bar4 {
		left: -15%;	
	}
	
	#speedometer {
		left: -5%;
		top: 8%;
	}

	.speedometer-title {
		padding-left: 32vw; 
		padding-top: 3vh;
		font-size: 3vw;
	}

	.speedometer-icon {
		display: inline-block;
		position: fixed;
		top: 9%;
		right: 2.5%;
		z-index: 2;
	}

	.bottomPanel {
		/* display: inline-block; */
		position: absolute;
		bottom: 0;
		z-index: 5;
		background-color: #465362;
		border: 1px solid #465362;
		width: 100%;
		height: 30%;
		font-size: 2vw;
		filter:alpha(opacity=50);
		opacity: 0.5;
	}
		
	.bottomPanel .transport-container {
		overflow-x: hidden;
		overflow-y: auto;
		float: left;
		display: block;
		position: relative;
		width: 100%;
		height: 500px;
	}
	.bottomPanel  div.transport {
		border-top: 1px solid #44CBCE;
		padding: 5vw 4vw 1.2vw 7.6vw;
		width: 100%;
		height: 24.7vh;
		float: left;
		background-color: #3A4450;
	}
	.bottomPanel div.transport .head {
		margin-bottom: 3vw;
		float: left;
		width: 100%;
	}
	.bottomPanel div.transport .head img {
		width: 20vw;
		margin-left: 50%;
	}
	.bottomPanel div.transport span.title {
		font-family: 'proximanova-semibold';
		font-size: 5vw;
		color: #fff;
		width:5.8vw;
	}
	.bottomPanel div.transport .col3 {
		width:32%;
		margin-right: 2%;
		float: left;
		position: relative;
	}
	.bottomPanel div.transport .col3.last {
		margin-right: 0 !important;
	}
	.bottomPanel div.transport .col3 div {
		width: 100%;
		float:left;
	}
	.bottomPanel div.transport .col3 div span.blue {
		font-family: ProximaNova-Semibold;
		font-size: 3.8vw;
		color: #44CBCE;
		margin-right: 0.25vw;
		line-height: 1;
	}
	.bottomPanel div.transport .col3 div span.helptxt {
		font-family: ProximaNova-Light;
		font-size: 3vw;
		color: #FFFFFF;
		line-height: 1.3;
	}

	.bottomPanel .prev, .bottomPanel .next {
		cursor: pointer;
		position: absolute;
		top: 40%;
		width: auto;
		padding: 10px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}
	
	.bottomPanel .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.bottomPanel .prev {
		left: 0;
		border-radius: 3px 0 0 3px;
	}
	
	.social {
		position: fixed;
		bottom: 0%;
		width: 100%;
		height: 20%;
		padding-top: 1.9vh;
	}

	.chevron {
		margin-left: 8vw;
		margin-right: 2vw;
	
	}
	.converter-box {
		position: absolute;
		right: 2%;
		top: 4%;
	}

	.floating-panel-for-mobile {
		position: absolute;
		left: 30%;
		bottom: 30%;
		z-index: 5;
		background-color: #809BAC;
		border: 1px solid #999;
		width: 70%;
		height: 125px;
	}

}


