/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "./assets/font/font.css"; */
/* @charset "UTF-8"; */
/* CSS Document */
@font-face {
    font-family: 'proximanova-regular';
    src: url('./assets/font/proximanova-regular-webfont.woff2') format('woff2'),
		url('./assets/font/proximanova-regular.otf') format('opentype'),
         url('./assets/font/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	

}

@font-face {
    font-family: 'proximanova-medium';
    src: url('./assets/font/proximanova-medium-webfont.woff2') format('woff2'),
         url('./assets/font/proximanova-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanova-bold';
    src: url('./assets/font/proximanova-bold-webfont.woff2') format('woff2'),
         url('./assets/font/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-light';
    src: url('./assets/font/proximanova-light-webfont.woff2') format('woff2'),
         url('./assets/font/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanova-semibold';
    src: url('./assets/font/proximanova-semibold-webfont.woff2') format('woff2'),
         url('./assets/font/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
	background: #ccc;
	margin: 0;
	padding: 0;
	font-family: 'proximanova-regular', Fallback, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-size: 14px;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}



