@charset "UTF-8";
@media  screen and (max-width: 1920px) {

.space{
    margin-top: 1%
    }

.landing{
    /* background-image:url("../../assets/images/mapbg.png");  */
    background-position: center; 
     background-repeat: no-repeat;
    background-size: cover;
    margin:0%; 
    padding-right: 0%;
    opacity: 1;
    background-color: #000000;
    height: 100vh;
    width:100%;  
    position: absolute;
    z-index: 2;
}

.source {
  width: 267px;
  height: 27px;
  color: #ffffff;
  font-family: ProximaNova;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
} 

.backgd{
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    width: 50%;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background: radial-gradient( circle at top left , #5ddef4, rgba(93, 222, 244, 0) 50%);
}
  .leftcontent{
    top:0;
    padding-left:80px; 
     z-index: 6;
    opacity: 1; 
    position: absolute;

  }
  .txtrectangle{
    position: absolute;;
    opacity: 1;
    padding-top:90px;
      padding-left:80px;
  
  }

.capsule {
    z-index:100;
    opacity: 1;
    transform: rotate(180deg);
    position: relative;
    padding-left: 2px;
    padding-top:72px;
    overflow: hidden;
}  

.capsule img {
    position: bottom top;
}

.insidecapsule{
    z-index: 3;
    transform: rotate(-180deg);
    position: relative;
    opacity: 0.6;
    /* height: 100vh; */
    top:50%;
    left: 50%;
     width:50%;
     height: 50%; 
    margin-bottom: 0%;
    background-image: radial-gradient(circle at 0 0, #9cff57, rgba(156, 255, 87, 0) 73%);
 
}

  span.welcomeWherewould{
    position:absolute;
    font-family: proximanova-light;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;;
    z-index: 12;
    width: 800px;
    opacity: 1;
    
  }


  div.search{
      margin-top: 45%;
      width: 600px
  }
  
    input, label {
        display:block;
        
    }

    .play{
        width: 120px;
        height: 27px;
        opacity: 0.5;
        background-image: linear-gradient(to right, #00aaac, rgba(0, 219, 221, 1));
        font-family: ProximaNova-light;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: center;
        color: #f2f2f2;
        border:none;
        cursor: pointer;
    }
    .notplay{
        background-image: linear-gradient(to right, #00aaac, rgba(0, 219, 221, 1));
        width: 120px;
        height: 27px;
       opacity: 1;
        font-family: ProximaNova-light;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: #f2f2f2;
         border:none;
        cursor: pointer;
    }


    input{
          padding-left: 0%;
          margin:1%;
            width: 180px;
            height: 27px;
            background-color:rgba(255, 255, 255, 0.5);
            font-family: ProximaNova-medium;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            border:none;
            opacity: 1;

    }

    label{
        opacity: 1;
        width: 92.5px;
        height: 20px;
        font-family: ProximaNova-medium;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    .inputspace{
             width: 92.5px;
             height: 29px;
    }


    .hyperloopTTRouteSiCopy{
        padding-top: 4%;
        color: #d8d8d8;
        font-family: ProximaNova-light;
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        font-weight: normal;
        line-height: normal;
        text-align: left;
        text-transform: none;
        text-decoration: none;
        letter-spacing: normal;
       width: 600px;
       opacity: 1;
    }

    .orSelectpre-existi {
        width: 438px;
        height: 44px;
        font-family: ProximaNova-light;
        font-size: 25px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
      
      .pre-existing{
          width:600px;
      }
      .pre-existing button{
          width: 20vw;
          height: 4vh;
          background-image: linear-gradient(to right, #00aaac, rgba(0, 219, 221, 1));
          border: none;
          color: #ffffff;
          font-family: ProximaNova-light;
          font-size: 15px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          cursor: pointer;
      }

      .hyperloopdistance{
        float: right;
        color: #ffffff;
        font-size: 15px;
    }

    .row{
     top:40%;
    }

    .rect{
        width: 280px;
        height: 100.5px;
        background-color: #ffff6b;
        margin-top: -10%;
        position: relative;
        font-family: ProximaNova-light;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
         color: #29434e;
         border-radius: 6.3px;
         padding-left: 10px;
         padding-top: 10px;
    }
    .errormsg{
      position:absolute;
        z-index: 14;
        
    }
    .triangle{
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        transform: rotate(-180deg);
        border-top: 20px solid #ffff6b;
        margin-left: 74px;
        margin-top: 30px;
        position: relative;
    }
    
}